@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-color: #FF1616;
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

.container {
  min-width: 280px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .container {
    width: 745px;
  }
}
@media screen and (min-width: 1220px) {
  .container {
    width: 1200px;
  }
}
* {
  transition: background-color 1500ms ease-in;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  padding: 7px 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn__light {
  min-width: 127px;
  color: var(--main-color);
  background: #FFF8F8;
  border-radius: 41px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.btn__dark {
  width: 210px;
  min-height: 46px;
  background-color: #000;
  color: #FFFBFB;
}

.header {
  background-color: #000000;
  padding: 20px 15px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-transform: uppercase;
  color: var(--main-color);
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.header__nav-item-btn {
  padding: 4px;
  min-width: 100px;
  min-height: 24px;
  border-radius: 12px;
  border: none;
  background-color: rgb(232, 218, 183);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.header__btn-mode {
  background-color: transparent;
  fill: #fff;
  cursor: pointer;
  border: none;
}
.header__btn-mode:hover, .header__btn-mode:focus {
  fill: #e8dab7;
}

@media screen and (min-width: 319px) {
  .header__nav-item-btn {
    display: none;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 5px;
  }
  .header__nav-links {
    display: flex;
    margin-right: 5px;
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .header__nav-item-btn {
    display: block;
  }
  .header__btn-mode {
    display: none;
  }
  .header__nav-links {
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  .header__nav-item-btn {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-links {
    flex-direction: row;
    margin-right: 25px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 25px;
  }
}
.hero {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 70px;
  background-image: url("../images/hero/graduated_women-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
}

.hero__form {
  padding: 49px 38px;
  width: 400px;
}

.hero__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.hero__nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__nav-icon {
  margin-bottom: 12px;
}

.hero__nav-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.hero__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 21.7px;
}

.hero__title-alumni {
  color: var(--main-color);
}

.hero__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21.7px;
}

.btn__hero {
  min-height: 56px;
}

@media screen and (min-width: 320px) {
  .hero {
    background-position: 100% 100%;
  }
  .hero__nav-item {
    background-color: rgba(213, 213, 213, 0.8078431373);
    border-radius: 15px;
    padding: 5px 7px;
  }
  .hero__nav-item:not(:last-child) {
    margin-right: 10px;
  }
  .hero__description {
    background-color: rgba(213, 213, 213, 0.8078431373);
    border-radius: 15px;
    padding: 5px 7px;
  }
}
@media screen and (min-width: 767px) {
  .hero {
    background-position: right;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    background-color: transparent;
  }
  .hero__nav-item {
    background-color: transparent;
  }
}
.president-section__title {
  margin-bottom: 13px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 45px;
  line-height: 53px;
}

.president-section__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 78px;
}

@media screen and (min-width: 320px) {
  .president-section {
    background-image: url(../images/president-msg/president-msg-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 49px;
    padding-left: 20px;
    padding-bottom: 22px;
    border: 1px solid #000;
  }
}
@media screen and (min-width: 767px) {
  .president-section {
    padding-left: 49px;
  }
}
.description-section {
  padding-top: 138px;
  padding-left: 87px;
  padding-bottom: 115px;
}

.description-section__item-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.description-section__item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.description-section__item-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}
.description-section__item-link:hover, .description-section__item-link:focus {
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
  .description-section__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }
  .description-section__item {
    width: 50%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
    min-height: 220px;
  }
  .description-section__item img {
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  .description-section__wrapper {
    flex-direction: row;
    gap: 43px;
  }
  .description-section__wrapper img {
    margin-left: 0;
  }
  .description-section__item {
    border: none;
  }
}
.speaker-series-section__item:not(:last-child) {
  margin-right: 193px;
}

.speaker-series-section__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

@media screen and (min-width: 320px) {
  .speaker-series-section {
    background-image: url(../images/speaker-series-section/speaker-section-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 75px;
    margin-bottom: 60px;
    border: 1px solid #000;
  }
  .speaker-series-section__title {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 30px;
    line-height: 53px;
  }
  .speaker-series-section__item {
    width: 90%;
  }
  .speaker-series-section__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 767px) {
  .speaker-series-section {
    padding-top: 44px;
    padding-left: 111px;
    margin-bottom: 90px;
  }
  .speaker-series-section__title {
    margin-bottom: 66px;
    font-size: 45px;
    line-height: 53px;
  }
  .speaker-series-section__news-item {
    display: flex;
    flex-direction: row;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  width: 100%;
  max-width: 450px;
  max-height: 940px;
  height: 70%;
  margin-top: 30px;
  padding: 48px 20px 40px;
  background: rgb(222, 222, 222);
  background: linear-gradient(225deg, rgb(222, 222, 222) 6%, rgb(143, 143, 143) 80%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-btn__icon {
  background-color: transparent;
  cursor: pointer;
}

.form__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.form__container {
  padding: 15px;
  margin-bottom: 20px;
}

.form__label:not(:last-child) {
  display: block;
  margin-bottom: 15px;
}

.form__input {
  padding: 5px;
  width: 300px;
  display: block;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  outline: none;
}

.form__label-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  margin-bottom: 8px;
}

.modal__btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color: var(--main-color);
  padding: 15px 19px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  text-transform: uppercase;
}

.dark-theme {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.96);
}/*# sourceMappingURL=index.css.map */