<div class="chapters-events-section">
    <div class="container">
        <h2 class="chapters-events-section__title">
            UPCOMING EVENTS
        </h2>
        <ul class="chapters-events-section__list">
            <li class="chapters-events-section__item">
                <img src="./images/alumni-chapters-flag/manitoba-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">Manitoba</p>
                </div>
            </li>
            <li class="chapters-events-section__item">
                <img src="./images/alumni-chapters-flag/saskatchewan-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">Saskatchewan</p>
                </div>
            </li>
            <li class="chapters-events-section__item">
                <img src="./images/alumni-chapters-flag/alberta-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">Alberta</p>
                </div>
            </li>
            <li>
                <img src="./images/alumni-chapters-flag/british-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">British Columbia</p>
                </div>
            </li>
            <li class="chapters-events-section__item">
                <img src="./images/alumni-chapters-flag/canada-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">Ontario</p>
                </div>

            </li>
            <li class="chapters-events-section__item">
                <img src="./images/alumni-chapters-flag/usa-flag-min.png" alt="flag" width="453" height="212">
                <div class="chapters-events-section__descr-wrapper">
                    <p class="chapters-events-section__descr">USA</p>
                </div>
            </li>
        </ul>
    </div>
</div>