<div class="backdrop is-hidden">
    <div class="modal">
        <button id="#modal-close" class="modal-btn modal-btn__icon-close">
            <svg class="modal-btn__icon" width="10" height="10">
                <use href="./images/hero/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
        <form class="modal__form form" action="submit"></form>
        <div class="modal__btn-wrapper">
            <button class="btn btn__light btn__modal-close" type="button">Close</button>
            <button id="form-submit" class="btn btn__light" type="submit">Submit</button>
        
        </div>
    </div>
</div>