<div class="backdrop is-hidden">
    <div class="modal">
        <button id="#modal-close" class="modal-btn">
            <svg class="modal-btn__icon" width="10" height="10">
                <use href="./images/hero/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
        <form class="modal__form form" action="submit">
            <p class="form__title">Leave Your data for more details</p>
            <div class="form__container">
                <label class="form__label">
                    <span class="form__label-title">First Name</span>
                    <input class="form__input" type="text" name="first-name" placeholder="Alex">
                </label>
                <label class="form__label">
                    <span class="form__label-title">Last Name</span>
                    <input class="form__input" type="text" name="last-name" placeholder="Smith">
                </label>
                <label class="form__label">
                    <span class="form__label-title">E-mail</span>
                    <input class="form__input" type="email" name="email" placeholder="alex@gmail.com">
                </label>
                <label class="form__label">
                    <span class="form__label-title">Occupation</span>
                    <input class="form__input" type="text" name="occupation" placeholder="Student">
                </label>
                <label class="form__label">
                    <span class="form__label-title">Year of graduation</span>
                    <input class="form__input" type="number" name="Year-of-graduation" placeholder="2001">
                </label>
                <label class="form__label">
                    <span class="form__label-title">Major</span>
                    <input class="form__input" type="text" name="major" placeholder="major">
                </label>
            </div>
            <div class="modal__btn-wrapper">
                <button class="btn btn__light" type="submit">Submit</button>
                <button class="btn btn__light btn__modal-close" type="button">Close</button>
            </div>
        </form>
    </div>
</div>