.header {
    background-color: #000000;
    padding: 20px 15px;
}
    
.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header__logo {
    text-transform: uppercase;
    color: var(--main-color);
  
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  
}




.header__nav-item-btn{
    padding: 4px;

    min-width: 100px;
    min-height: 24px;
    border-radius: 12px;
    border: none;
    background-color: rgb(232, 218, 183);
    color: rgb(0, 0, 0);
    font-weight: bold;

    cursor: pointer;
}

.header__btn-mode{
    background-color: transparent;

    fill: #fff;
    cursor: pointer;
    border: none;

    &:hover,
    &:focus{
        fill: #e8dab7;
    }
}


@media screen and (min-width: 320px) {
    .header__nav-item-btn{
        display: none;
    }

    .header__nav-item:not(:last-child){
        margin-right: 5px;
    }

    .header__nav-links{
            display: flex;
                margin-right: 5px;
                align-items: center;
    }
}

@media screen and (min-width: 767px) {
    .header__nav-item-btn {
            display: block;
        }
        .header__btn-mode{
            display: none;
        }

                  .header__nav-links {
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 10px;
                  }

                  .header__nav-item-btn{
                    margin-bottom: 5px;
                  }

}          

@media screen and (min-width: 1200px){
.header__nav-links {
    flex-direction: row;
        margin-right: 25px;
    }

        .header__nav-item:not(:last-child) {
            margin-right: 25px;
        }
}
